body
{
	background-color: white;
}

label
{
	display:block;
	width:250px;
	float:left;
}

#footer 
{
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: white;
	padding-right: 5px;
}

.login
{
	border: 10px ridge gray;
	padding: 50px;
	padding-top:0;
	margin-top:300px;
	font-family: Cochin;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	position: relative;
	top:-200px;
}

a, a:focus, a:active
{
	text-decoration: none;
	color:#2E9AFE;
}
.compte
{
	color : black;
}

#code_gen
{
	width: 300px;
	height: auto;
	position: absolute;
	left: 450px;
}

#home_page
{
	padding-top:0;
	margin-top:50px;
	font-family: Papyrus;
	width:800px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
}

#plat
{
	border: 10px inset white;
	position: relative;
	top:-100px;
	font-family: 'Brush Script Mt';
	font-size:100px;
	width:770px;
	height: auto;
	text-align: center;
	z-index: -1;
}

#appetizer
{
	font-size: 60px;
	position: relative;
	top:-100px;
}

#entree
{
	position: relative;
	top:-200px;
	font-size: 60px;	
}

#dessert
{
	font-size: 60px;
	position: relative;
	top:-300px;
}

#plat_down
{
	width:800px;
	height:50px;
	padding:0;
	margin:0;
	position:relative;
	top:-400px;
	border: 10px outset white;

}

#account
{
	position:absolute;
	right:20px;
	top:20px;
	width: 150px;
	padding:15px;
	background-color: #00A0FF;
	border-radius:15px;
	border:3px inset #004FFF;
	font-size:1.5em;
	box-shadow:2px 2px 3px black;
}
#nb_item
{
	border-radius:5px;
	border: 2px inset gray;
	padding:5px;
	width:50px;
	height:60px;
	background-color:#AFAFAF;
	position:relative;
	right:15px;
	top:35px;
}

.compte
{
	color:white;
}

.compte:hover
{
	color:black;
}

#ecommerce
{
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#img_ecommerce
{
	width: 800px;
	height: auto;
}

#pannier
{
	width: 100px;
	height: auto;
	position: absolute;
	right:20px;
	top: 200px;
}

#img_pannier
{
	width: 100px;
	height: auto;
}

#separation
{
	border: 2px inset gray;
}

#reponse
{
	padding-top:0;
	margin-top:300px;
	font-family: Cochin;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	font-size: 50px;
}

#contact
{
	padding-top:0;
	margin-top:100px;
	font-family: Cochin;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
}

#revenir
{
	text-align:center;
	font-size: 20px;
}

#valide_panier
{
	text-align:center;
	font-size: 40px;
	font-family: Cochin;
}

.error
{
	font-family: Cochin;
	color: red;
	position: absolute;
	left: 1100px;
	top: 400px;
	font-size: 50px;
}

input[type=submit]
{
	width:380px;
	height:20px;
}

input[type=submit]:hover
{
	background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 12%,rgba(41,184,229,1) 20%,rgba(41,184,229,1) 34%,rgba(188,224,238,1) 100%);
	border-radius:5px;
}

#ram
{
	position: relative;
	left: 300px;
	top: -200px;
	font-size: 30px;
}

#passwd_del
{
	top:10px;
	position: relative;
}

#img_ram
{
	float:right;
	position: relative;
	left: -80px;
	top: -370px;
	width: 200px;
	height: auto;
}

#souris
{
	position: relative;
	left: 300px;
	top: -300px;
	font-size: 30px;
}

#img_souris
{
	float:right;
	position: relative;
	left: -80px;
	top: -480px;
	width: 200px;
	height: auto;
}

#antivirus
{
	position: relative;
	left: 300px;
	top: -400px;
	font-size: 30px;
}

#img_antivirus
{
	float:right;
	position: relative;
	left: -80px;
	top: -550px;
	width: 100px;
	height: auto;
}

#menu ul 
{
	display: inline;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}

#menu li 
{
	display: inline; 
	float:left;
	margin:auto;
	padding:0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-color:#0080FF;
	border-radius: 0px;
	box-shadow: 8px 8px 10px #000;
}

#menu li a 
{
	background-color:#0080FF;
	display:block;
	width:250px;
	color:white;
	text-decoration:none;
	padding:5px;
	border-left:1px solid black;
	border-right:1px solid black;
}

#menu li a:hover {
	color:#240B3B;
	background-color:#0090FF;
}

#menu ul li ul {
	display:none;
}

#menu ul li:hover ul {
	display:block;
}

#menu li:hover ul li {
	float:none;
	border:none;
}

#menu li ul {
	position:absolute;
}

#menu 
{
	margin-top: 15px;
	width: 800px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:80px;
	z-index:5;
}

article
{
	height:100px;
	max-height:100px;
	padding-top:5px;
	padding:15px;
	border-radius:15px;
	box-shadow:1px 2px 1px black inset;
	background-color:#EFF8FB;
}
.categorie
{
	padding:0;
	margin:0;
	font-size:1.1em;
}

.prix
{
	position:relative;
	top:30px;
	left:40px;
	float:right;
	padding:0;
	margin:0;
	font-size:1.8em;
	font-weight:bold;
}

.number
{
	color:blue;
	font-size:0.9em;
}

#order_price
{
	font-size:1.4em;
	font-weight:bold;
}
#order_price a
{
	font-size:0.9em;
}

.add
{
	position:relative;
	top:-30px;
	float:right;
	padding:0;
	margin:0;
	width:35px;
	height:auto;
}

.name
{
	width:200px;
	padding:0;
	padding-bottom:10px;
	margin:0;
	font-size: 30px;
	font-family: Curl;
	border-bottom:3px ridge #CDCDCD;
}

.description
{
	width:70%;
	position:relative;
	left:250px;
	top:-40px;
	padding:0;
	padding-left:10px;
	margin:0;
	border-left:3px ridge #CDCDCD;
	font-size: 20px;
	font-family: Curl;
}

.link_autre
{
	color:white;
	background-color:#A9BCF5;
	border-radius:5px;
	padding:5px;
	position:relative;
	top:20px;
	float:left;
}

.link_autre:hover
{
	background-color:#81BEF7;
}

.link_souris
{
	color:white;
	background-color:#A9F5A9;
	border-radius:5px;
	padding:5px;
	position:relative;
	top:20px;
	float:left;
}

.link_souris:hover
{
	background-color:#76CA8E;
}

.link_clavier
{
	color:white;
	background-color:#F6CECE;
	border-radius:5px;
	padding:5px;
	position:relative;
	top:20px;
	float:left;
}

.link_clavier:hover
{
	background-color:#F78181;
}

#liste
{
	margin-top:50px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	background-color:#A9BCF5;
	border-radius:10px;
	border:ridge 2px blue;
	box-shadow:5px 5px 5px gray;
}

#achat
{
	font-size:1.5em;
	font-weight:bold;
}

#achat li
{
	list-style:circle;
	list-style-position: inside;
	margin-left:20px;
}

.back
{
	text-align: center;
	font-size: 20px;
}

#validate
{
	color:white;
	width:180px;
	margin-left:auto;
	margin-right:auto;
	background: linear-gradient(to bottom, rgba(162,220,118,1) 0%,rgba(88,179,23,1) 12%,rgba(88,179,23,1) 40%,rgba(162,220,118,1) 98%); 
	border-radius:10px;
	margin-top:20px;
	padding:10px;
}
#validate a
{
	text-align:center;
	color:white;
}

#validate:hover
{
	background: linear-gradient(to bottom, rgba(162,220,118,1) 0%,rgba(88,179,23,1) 54%,rgba(88,179,23,1) 83%,rgba(162,220,118,1) 98%); 
}

#admin_forms
{
	margin:0;
	padding:0;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.ad_sep
{
	width:380px;
	border:1px dotted gray;
}

.ad_titre
{
	font-size:1.2em;
	color:red;
	font-weight:bold;
}

#admin_forms form
{
	width:700px;
}

#panier_to_do
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.panier_article
{
	width:400px;
	background-color:#DCE9EB;
	border-radius:20px;
	box-shadow:2px 2px 2px black inset;
	padding:10px;
	padding-left:30px;
}

.panier_article img
{
	width:25px;
	float:right;
}

.panier_sep
{
	height:150px;
	width:100%;
}
